In [1]:
# Function definition
def add_numbers(a, b):
    return a + b

# Test the function
result = add_numbers(5, 7)
print("The sum is:", result)

The sum is: 12

In [2]:
# Function definition
def currency_converter(amount, exchange_rate=280):
    converted_amount = amount * exchange_rate
    return f"${amount} USD is equivalent to {converted_amount} PKR at an exchange rate of {exchange_rate}."

# Test the function
message = currency_converter(10)
print(message)

$10 USD is equivalent to 2800 PKR at an exchange rate of 280.

In [3]:
# Function definition
def display_student_info(*, name, age, grade, school):
    print(f"Student Name: {name}")
    print(f"Age: {age}")
    print(f"Grade: {grade}")
    print(f"School: {school}")

# Test the function
display_student_info(name="Ali", age=14, grade="8th", school="City High School")

Student Name: Ali
Age: 14
Grade: 8th
School: City High School

In [4]:
# Function definition
def calculate_price(price, quantity):
    return price * quantity

# Test the function
total = calculate_price(150, 3)
print("Total Price:", total)

Total Price: 450

In [5]:
# Function definition
def display_prices(product_name, **prices):
    print(f"Product: {product_name}")
    for store, price in prices.items():
        print(f"{store}: ${price}")

# Test the function
display_prices(
    "Laptop",
    Amazon=800,
    eBay=750,
    Walmart=780
)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

In [6]:
# Function definition
def find_max(*numbers):
    if not numbers:
        return "No numbers provided."
    return max(numbers)

# Test the function
result = find_max(10, 25, 3, 87, 42)
print("Maximum number:", result)

Maximum number: 87

In [7]:
# Function definition
def display_info(name, age, **details):
    print(f"- Name: {name}")
    print(f"- Age: {age}")
    if details:
        print("- Other Details:")
        for key, value in details.items():
            print(f"    - {key}: {value}")

# Test the function
display_info(
    "Alice", 30,
    address="123 Main St",
    phone="123-456-7890",
    email="alice@example.com"
)

- Name: Alice
- Age: 30
- Other Details:
    - address: 123 Main St
    - phone: 123-456-7890
    - email: alice@example.com